/* Write your CSS here */
.link-item-container {
  display: flex;
  align-items: center;
  background-color: #ffffff33;
  margin: 10px;
  width: 40%;
  height: 150px;
  border-radius: 10px;
  text-decoration: none;
}
.link-item {
  display: flex;
  align-items: center;
}
.teams-heading {
  font-size: 32px;
  color: white;
  font-family: 'Bree Serif';
}

@media screen and (max-width: 567px) {
  .teams-heading {
    font-size: 14px;
  }
  .link-item-container {
    width: 40%;
    height: 100px;
  }
}

@media screen and (min-width: 568px) and(max-width:767px) {
  .teams-heading {
    font-size: 20px;
  }
}
.team-image {
  width: 30%;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .team-image {
    width: 20%;
  }
}
